{% extends 'base.html' %}

{% block content%}

<!-- Blog Article -->
<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-2xl">
     
      <!-- Content -->
      <div class="space-y-5 md:space-y-8">
        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl">TechSolutions - wsparcie dla Twojej firmy</h2>
  
          <p class="text-lg text-gray-800">TechSolutions Sp. z o.o. to dynamicznie rozwijająca się firma, specjalizująca się w dostarczaniu nowoczesnych rozwiązań IT i cyberbezpieczeństwa dla małych i średnich przedsiębiorstw. Naszym celem jest wspieranie firm w optymalizacji ich procesów, zwiększaniu efektywności oraz ochronie danych i systemów przed współczesnymi zagrożeniami.</p>
        </div>
  
        <p class="text-lg text-gray-800">Od ponad 10 lat pomagamy naszym klientom, oferując kompleksowe usługi, które obejmują zarządzanie infrastrukturą IT, migrację do chmury, tworzenie bezpiecznych stron internetowych, a także pełne wsparcie w zakresie cyberbezpieczeństwa. Jesteśmy zespołem doświadczonych specjalistów, którzy łączą pasję do technologii z zaangażowaniem w potrzeby naszych klientów.</p>
  
        <figure>
          <img class="w-full object-cover rounded-xl" src="https://cdn.pixabay.com/photo/2024/08/24/14/17/ai-generated-8994400_960_720.jpg" alt="Mężczyzna i kobiet w serwerowni">
         
        </figure>
  
        <p class="text-lg text-gray-800">Stawiamy na indywidualne podejście – słuchamy naszych klientów, analizujemy ich potrzeby i dostarczamy rozwiązania dopasowane do ich specyficznych wymagań. Dzięki temu jesteśmy w stanie oferować nie tylko usługi IT, ale także pełne wsparcie technologiczne na każdym etapie rozwoju firmy.</p>

        <p class="text-lg text-gray-800">Nasza misja to zapewnienie niezawodnych, bezpiecznych i skalowalnych rozwiązań, które pozwalają naszym klientom skoncentrować się na tym, co najważniejsze – rozwijaniu swojego biznesu. TechSolutions to Twój partner technologiczny, który dba o każdy aspekt funkcjonowania IT, od codziennej administracji po zabezpieczenie infrastruktury przed zagrożeniami zewnętrznymi.</p>

        <figure>
          <img class="w-full object-cover rounded-xl" src="https://cdn.pixabay.com/photo/2018/05/14/16/25/cyber-security-3400657_960_720.jpg" alt="">
        </figure>
  
       </div>
      </div>
    </div>
       

{% endblock %}