{% extends 'base.html' %}

{% block content %}
  <!-- Hero -->
<div class="max-w-[85rem] mx-auto my-12 px-4 sm:px-6 lg:px-8">
  {% if form.errors %}
  <div class="my-4 bg-red-500 text-sm text-white rounded-lg p-4" role="alert" tabindex="-1" aria-labelledby="hs-solid-color-success-label">
    <span id="hs-solid-color-danger-label">Formularz kontaktowy zawiera błędy!</span>
</div>
  {% endif %}
    <!-- Grid -->
    <div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
      <div class="lg:col-span-3">
        <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl lg:text-6xl">Nowoczesne rozwiązania IT dla Twojej firmy</h1>
        <p class="mt-5 text-lg text-gray-800">Zaufaj ekspertom w dziedzinie IT i cyberbezpieczeństwa. Oferujemy kompleksowe wsparcie technologiczne, które usprawni działanie Twojego biznesu.</p>
  
        <div class="mt-5 lg:mt-8 ">
          
          <a class="w-full sm:w-auto py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="#contact-form">
            Napisz do nas
          </a>
        </div>
  
        
      </div>
      <!-- End Col -->
  
      <div class="lg:col-span-4 mt-10 lg:mt-0">
        <img class="w-full rounded-xl" src="https://cdn.pixabay.com/photo/2023/08/24/17/41/ai-generated-8211245_1280.jpg" alt="Hero Image">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Hero -->
  <!-- ========== END HEADER ========== -->

<!-- Icon Blocks -->
<div class="max-w-[85rem]  bg-slate-50 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 md:gap-10">
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center  items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <i class="fa-solid fa-laptop text-blue-600 text-xl"></i>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Zarządzanie infrastrukturą IT</h3>
          </div>
        </div>
        <p class="text-gray-600">Monitoring, konserwacja oraz optymalizację systemów IT.</p>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <i class="fa-solid fa-cloud text-blue-600 text-xl"></i>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Usługi chmurowe i migracje</h3>
          </div>
        </div>
        <p class="text-gray-600">Migracje do chmury, zarządzanie chmurowymi zasobami.</p>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <i class="fa-solid fa-user-secret text-blue-600 text-xl"></i>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Cyberbezpieczeństwo</h3>
          </div>
        </div>
        <p class="text-gray-600">Audyty bezpieczeństwa, wdrażanie procedur ochronnych oraz monitorowanie zagrożeń.</p>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <i class="fa-solid fa-database text-blue-600 text-xl"></i>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Backup i odzyskiwanie danych</h3>
          </div>
        </div>
        <p class="text-gray-600">Regularne tworzenie kopii zapasowych oraz szybkie odzyskiwanie danych.</p>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16.466 7.5C15.643 4.237 13.952 2 12 2 9.239 2 7 6.477 7 12s2.239 10 5 10c.342 0 .677-.069 1-.2"/><path d="m15.194 13.707 3.814 1.86-1.86 3.814"/><path d="M19 15.57c-1.804.885-4.274 1.43-7 1.43-5.523 0-10-2.239-10-5s4.477-5 10-5c4.838 0 8.873 1.718 9.8 4"/></svg>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Doradztwo IT i szkolenia</h3>
          </div>
        </div>
        <p class="text-gray-600">Doradztwo technologiczne oraz szkolenia dla Twojego zespołu.</p>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <i class="fa-solid fa-globe text-blue-600 text-xl"></i>
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800">Strony WWW i e-commerce</h3>
          </div>
        </div>
        <p class="text-gray-600"><Ri:viewport></Ri:viewport>esponsywne, wydajne i zabezpieczone strony WWW oraz systemy e-commerce.</p>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Icon Blocks -->

  
<!-- Hire Us -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 items-center gap-12">
    <div>
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight">
        Zatrudnij nas
      </h1>
      <p class="mt-1 md:text-lg text-gray-800">
        Pomagamy firmom wdrażać nowoczesne rozwiązania IT, które usprawniają ich działanie i zapewniają bezpieczeństwo danych.
      </p>

      <div class="mt-8">
        <h2 class="text-lg font-semibold text-gray-800">
          Czego możesz się spodziewać?
        </h2>

        <ul class="mt-2 space-y-2">
          <li class="flex gap-x-3">
            <svg class="shrink-0 mt-0.5 size-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-600">
              Najwyższej jakości wsparcia IT
            </span>
          </li>

          <li class="flex gap-x-3">
            <svg class="shrink-0 mt-0.5 size-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-600">
              Indywidualnego podejścia
            </span>
          </li>

          <li class="flex gap-x-3">
            <svg class="shrink-0 mt-0.5 size-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-600">
              Szybkiej i skutecznej pomocy
            </span>
          </li>

          <li class="flex gap-x-3">
            <svg class="shrink-0 mt-0.5 size-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-600">
              Przejrzystych warunków współpracy
            </span>
          </li>
        </ul>
      </div>

      <!-- Brands -->
      <div class="mt-8">
        <h2 class="text-lg font-semibold text-gray-800">
          Zaufaj profesjonalistom z TechSolutions – skontaktuj się z nami już dziś!
        </h2>
      </div>

       

      <div class="mt-10 flex items-center gap-x-5">
        <!-- Avatar Group -->
        <div class="flex -space-x-2">
          <img class="inline-block size-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
          <img class="inline-block size-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80" alt="Avatar">
          <img class="inline-block size-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="Avatar">
          <span class="inline-flex justify-center items-center size-8 rounded-full bg-blue-600 text-white ring-2 ring-white">
            <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
          </span>
        </div>
        <!-- End Avatar Group -->
        <span class="text-sm text-gray-500">
          Zaufało nam 300 klientów
        </span>
      </div>
    </div>
    <!-- End Col -->

    <div class="relative">
      <!-- Card -->
      <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-10">
        <h2 class="text-xl font-semibold text-gray-800">
          Wypełnij formularz
        </h2>

        <form id="contact-form" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="mt-6 grid gap-4 lg:gap-6">
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label for="firstname" class="block mb-2 text-sm text-gray-700 font-medium">Imię</label>
                <input type="text" name="firstname" id="firstname" value="{{ form.firstname.data or '' }}" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              </div>

              <div>
                <label for="lastname" class="block mb-2 text-sm text-gray-700 font-medium">Nazwisko</label>
                <input type="text" name="lastname" id="lastname"value="{{ form.lastname.data or '' }}" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              </div>
            </div>
            <!-- End Grid -->

            <div>
              <label for="email" class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
              {% if form.email.errors %}
              <input type="email" name="email" id="email" value="{{ form.email.data or '' }}" autocomplete="email" class="py-3 px-4 block w-full border border-red-400 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                {% for error in form.email.errors %}
                  <p class="mt-2 text-xs text-red-500">{{ error }}</p>
                {% endfor%}
              {% else %}
              <input type="email" name="email" id="email" value="{{ form.email.data or '' }}" autocomplete="email" class="py-3 px-4 block w-full border border-grey-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              {% endif %}
            </div>

            <!-- Grid -->
            
              <div>
                <label for="company" class="block mb-2 text-sm text-gray-700 font-medium">Firma</label>
                <input type="text" name="company" id="company" value="{{ form.company.data or '' }}" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              </div>

              
            <!-- End Grid -->

            <div>
              <label for="details" class="block mb-2 text-sm text-gray-700 font-medium">Szczegóły</label>
              {% if form.details.errors %}
              <textarea required id="details" name="details" rows="4" class="py-3 px-4 block w-full border border-red-400 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">{{ form.details.data or '' }}</textarea>
                {% for error in form.details.errors %}
                  <p class="mt-2 text-xs text-red-500">{{ error }}</p>
                {% endfor %}
              {% else %}
              <textarea required id="details" name="details" rows="4" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">{{ form.details.data or '' }}</textarea>
              {% endif %}
            </div>
            <div>
              {{ form.recaptcha }}
            </div>
            <div class="mt-6 grid">
              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 ">Wyślij</button>
            </div>
          </form>
          </div>
          
      
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hire Us -->
{% endblock %}